* {
    font-family: 'Source Sans 3', sans-serif;
}
 body {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 5vh;
 }

header {
    height: 75px;
    background: linear-gradient(
    120deg,
    #ffffff 0%,
    #ffffff 70%,
    #007acc 70%,
    #007acc 100%
  );
  box-shadow:2px 2px 2px rgb(201, 200, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.pe-logo {
    height: 60px;
    padding: 10px;
}

.header-icons {
    margin-right: 10px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.header-icons svg {
    height: 40px;
    fill: white;
}

.header-icons svg:hover {
    cursor: pointer;
}


/* Card Container */
#pollcard-container {
    border: 1px solid black;
    border-radius: 5%;
    display: grid;
    align-items: center;
    height: fit-content;
    width: 500px;
    padding: 20px;
}

#pollcard-container div {
    background: linear-gradient(
    120deg,
    #ffffff 0%,
    #ffffff 70%,
    #007acc 70%,
    #007acc 100%
  );
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* poll option text */
#pollcard-container div h2 {
    margin-left: 20px;
}
/* percent */
#pollcard-container div span {
    color: white;
    font-size: 24px;
    margin-right: 30px;
    /* justify-self: right; */
}